.container-TwoPlayers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 60px;
}

.TwoPlayers {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.inputX {
    color: #FF4747;
}

.inputO {
    color: #5D09F9;
}

.X2, 
.O2 {
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 50px
}

.X2 {
    color: #FF4747;
}

.O2 {
    color: #5D09F9;
}

.voltar {
    position: absolute;
    width: 178px;
    height: 50px;
    top: 30px;
    left: 35px;
  }