.container-UmJogador {
    gap: 30px;
    padding-top: 60px;
}

.UmJogador {
    gap: 10px;
}

.input {
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #D9D9D9;
    color: #000;
    padding-left: 15px;
}

.input::placeholder {
    color: #000;
}

.xOUo {
    gap: 108px;
}

.voltar {
    position: absolute;
    width: 178px;
    height: 50px;
    top: 30px;
    left: 35px;
  }

 